ul {
  font-family: "Chilanka", cursive;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-aligwn: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4caf50;
}

/*Placing the whole page into a center with spaces between left and right margin
*/
.container {
  margin: auto;
  width: 50%; /*This will center whole context in the website*/
}

/*Adding skills bar
*/
/* Make sure that padding behaves as expected */
* {
  box-sizing: border-box;
}

/* Container for skill bars */
.box {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {
  width: 90%;
  background-color: #4caf50;
} /* Green */
.css {
  width: 80%;
  background-color: #2196f3;
} /* Blue */
.js {
  width: 65%;
  background-color: #f44336;
} /* Red */
.php {
  width: 60%;
  background-color: orange;
} /* Dark Grey */

/*Adding Top Scroll Button 
*/
.button {
  background-color: #008cba; /* blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: darkblue;
}

.fa {
  padding: 10px;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  /* margin: 5px ; */
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/* top scroll button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

h2 {
  color: black;
  font-family: monaco;
}

.white {
  color: white;
}

.previous {
  width: 10%;
  font-family:  monaco;
  font-size: 10px;
  display: inline-block;
  padding: 8px 16px;
  background-color: #4c5eaf;
  color: white;
}

.next {
  width: 10%;
  font-size: 10px;
  font-family: monaco;
  display: inline-block;
  padding: 8px 16px;

  background-color: #233377;
  color: white;
}

.previous:hover
{
  background-color: #555;
}
.next:hover
{
  background-color: #555;

}


.table
{
  background-color: rgba(196, 84, 145, 0.404);
  }

.roshan
{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  filter: grayscale(100%);
}